AstraLevelTest/Binaries/
AstraLevelTest/Intermediate/
AstraLevelTest/DerivedDataCache/
AstraLevelTest/Saved/
Builds/
AstraLevelTest/Build/Windows/FileOpenOrder/
AstraLevelTest/.vs/
*.sln
*.VC.db
*.VC.opendb
*.suo
*.user
*.blend1
*.blend2
**/__pycache__/
*.pyc
.DS_Store
Thumbs.db
